@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.header-parent {
  display: flex;
  justify-content: flex-end;
}
.nav-menu {
  font-family: arial, sans-serif;
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-top: 13px;
  margin-right: 13px;
}
.nav-menu ul li {
  margin-left: 15px;
}
.nav-menu ul li a {
  display: flex;
  font-size: 13px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.gb_Xe {
  width: 24px;
  fill: #5f6368;
  margin-left: 5px;
  margin-right: 5px;
}
.icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.icon-holder:hover {
  background-color: #eff0f0;
}
.user-icon {
  background-color: #8060c2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  font-family: "Roboto", RobotoDraft, Arial, sans-serif;
}
.hover-style:hover {
  text-decoration: underline;
}

/* Main Area Styles */

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 584px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}
@media (max-width: 460px) {
  .search-area {
    max-width: 300px;
  }
}
@media (max-width: 480px) {
  .search-area {
    width: 400px;
  }
}
@media (max-width: 580px) {
  .search-area {
    width: 480px;
  }
}
.search-area:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
.search-input {
  display: block;
  width: 536px;
  border: none;
}
input[type="search"] {
  background-color: white;
}
.voice-search-icon {
  align-self: flex-end;
}
#btn {
  background-color: #f8f9fa;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: none;
  height: 36px;
  border-radius: 4px;
  padding: 0 16px;
  color: #3c4043;
}
#btn:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/* Footer area style sheet*/
.end-footer {
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
  padding: 0;
  min-height: 50px;

  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 480px) {
  .end-footer {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .end-footer {
    justify-content: center;
    align-items: center;
  }
}
.end-footer a {
  color: #70757a;
  text-decoration: none;
  font-size: 14px;
}
.end-footer a:hover {
  text-decoration: underline;
}
.end-footer li {
  margin: 0 30px 0 0;
}
.footer-nav-1 {
  margin-left: 35px;
}
.footer-nav-2 {
  margin-right: 35px;
}
.footer-nav-1 ul {
  display: flex;
  list-style: none;
}
.footer-nav-2 ul {
  display: flex;
  list-style: none;
}
